:root {
  --primary: #2F5D62;
  --secondary: #DFEEEA;
  --white: #ffffff;
  --black: #000000;
  --error: #D83A56;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--secondary);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--primary);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 2px solid var(--primary);
  padding: 5px;
  font-size: 18px;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  color: var(--white);
  padding: 20px;
  height: 80px;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav ul {
  display: block;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 15px;
}

nav ul li:last-child {
  margin-right: 0;
}

main {
  min-height: calc(100vh - 80px - 60px);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer {
  justify-content: center;
  height: 60px;
}

.brand-name {
  font-size: 24px;
  font-weight: bold;
}

.fortune-box {
  max-width: 700px;
  width: 100%;
  color: var(--primary);
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  border: 3px solid var(--primary);
  padding: 30px;
  border-radius: 50px;
  border-top-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.converter-form {
  padding: 30px;
  border: 3px solid var(--primary);
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
}

.converter-form-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

.converter-form-input-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 25px;
}

.converter-form-input-label {
  font-weight: bold;
  margin-right: 10px;
  min-width: 40px;
  text-transform: uppercase;
}

.converter-form-input-container:last-child {
  margin-bottom: 0;
}

.converter-form-input {
  outline-color: var(--primary);
  color:  var(--primary);
  flex-grow: 1;
  border-radius: 3px;
}

.result-container {
  padding: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
}

.question-container {
  margin-bottom: 35px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--primary);
}

.question {
  margin-bottom: 5px;
  font-weight: bold;
}

.answer {
  margin-bottom: 5px;
}

.correct {
  font-weight: bold;
}

.incorrect {
  font-weight: bold;
  color: var(--error);
}

.result {
  border: 3px solid var(--primary);
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.retake-link {
  font-weight: bold;
  padding: 10px;
  background-color: var(--primary);
  color: var(--white);
  border-radius: 5px;
  display: inline-block;
  align-self: center;
}
